<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="answerChoice">
      <h2 data-cy="answerChoiceDetailsHeading"><span>Answer Choice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ answerChoice.id }}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
          <span>{{ answerChoice.text }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ answerChoice.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ answerChoice.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ answerChoice.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{
            answerChoice.lastModifiedDate | formatMediumDatetime
          }}</span>
        </dd>
        <dt><span>Is Archived</span></dt>
        <dd>
          <span>{{ answerChoice.isArchived }}</span>
        </dd>
        <dt><span>Archived Date</span></dt>
        <dd>
          <span>{{ answerChoice.archivedDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/answer-choice', answerChoice.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
