<div class="global-container container-fluid card-Question">
  <h4 class="my-2"><b> Update Survey </b></h4>

  <div class="progress">
    <div class="progress-bar" [style.width]="barwidth + '%'"></div>
  </div>
  <p style="font-size: 0.9vw;" class="text-justify text-wrap container-fluid text-format my-3">
    Stay in control of your surveys. Modify the information you'd like to change and hit 'Save' to make quick and precise updates to your survey list.
  </p>
  <form [formGroup]="form" autocomplete="off">
    <div *ngIf="!show" id="1" class="form-group col-sm-7">
      <div class="container-fluid my-4">
        <label for="title">Survey Title:</label>
        <input type="text" class="form-control" name="title" id="title" formControlName="title"
          oninput="this.value=this.value.toUpperCase()">
      </div>

      <div class="container-fluid my-4">
        <label for="topic">Survey Topic:</label>
        <input type="text" class="form-control" name="topic" id="topic" formControlName="topic"
          oninput="this.value=this.value.toUpperCase()">
      </div>

      <div class="container-fluid my-4">
        <label for="description">Survey Description:</label>
        <textarea type="text" class="form-control" name="description" id="description"
          formControlName="description"> </textarea>
      </div>
    </div>

    <div id="2" *ngIf="show" class="form-group">
      <div class="row container-fluid my-4">

        <section class="d-flex d-grid flex-md-row flex-sm-column my-4">
          <!-- <div class="container-fluid">
            <label for="surveys">List of Questions:</label>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="rows" [cdkDropListConnectedTo]="[doneList]"
              class="example-list" (cdkDropListDropped)="dropDrag($event)">
              <div style="font-size:0.8vw ;" class="example-box text-bg-light" *ngFor="let item of rows" cdkDrag>
                {{item.text}}</div>
            </div>
          </div> -->
          <div class="container-fluid">
            <label for="surveys">List of Questions:</label>

            <input type="text" [formControl]="searchText" class="mb-3" placeholder="Search questions">

            <!-- <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="filteredRows"
              [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="dropDrag($event)"> -->

              <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="rows" [cdkDropListConnectedTo]="[doneList]"
              class="example-list" (cdkDropListDropped)="dropDrag($event)">


              <div style="font-size:0.8vw;" class="example-box text-bg-light" *ngFor="let item of filteredRows" cdkDrag>
                {{ item.text }}
              </div>
            </div>
          </div>

          <i class="bi bi-arrow-left-right text-primary my-5 py-5 fs-5 "></i>
          <div class="container-fluid mt-3">
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selected" [cdkDropListConnectedTo]="[todoList]"
              class="example-list" (cdkDropListDropped)="dropDrag($event)">
              <div style="font-size:0.8vw ;" class="example-box" *ngFor="let item of selected" cdkDrag>{{item.text}}
              </div>
            </div>
          </div>
        </section>


      </div>
    </div>


    <section class="d-flex flex-row flex-wrap my-5 justify-content-end btn-">
      <button type="submit" (click)="previous()" class="d-flex d-grid gap-2 btn btn-primary px-4">
        <a href="#1"></a>
        <i class="bi bi-arrow-bar-left"></i>
        Previous
      </button>&nbsp;
      <button type="submit" (click)="next()" [disabled]="!nextshow" class="d-flex d-grid gap-2 btn btn-primary px-5">
        <a href="#2"></a>
        Next
        <i class="bi bi-arrow-bar-right"></i>
      </button>
      <button type="submit" *ngIf="saveshow" (click)="save()" class="btn btn-primary">save</button>
    </section>
  </form>

</div>