.modal-title{
    font-weight: bolder;
    color:#377DFF
}
hr{
    margin-top: -0.5vw;
    margin-bottom: 0.8vw;
}
.hr-b{
    margin-top: 1vw;
    margin-bottom: -0.8vw;
}
.bi-x-lg {
    pointer-events: all !important ;
    cursor: pointer !important ;
  }