.global-container {
  position: absolute;
  top: 0;
  right: 2;
  bottom: 5; 
  left: 3;
  margin-top: 8vh !important;
}

.card-Question {
  background-color: #fff;
  border: 1px solid rgba(217, 217, 217, 0.5);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

table th {
  font-size: 0.9vw;
}
table tbody{
  font-size: 0.8vw;
}
.pagination-{
  font-size: 0.6vw;
}
div input{
  font-size: 0.8vw;
}

.icon-{
  font-size: 0.6vw !important;
}
.pagination-{
  font-size: 0.6vw;
}
.delete-icon:hover{
  background-color: #D50000  ;
  color: #fff  ;
}
.update-icon:hover{
  background-color: #1565C0;
  color: #fff;
}
.show-details-btn:hover{
  background-color: #458871;
  color:#fff;
}
.icons-{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.add-icon{
  max-width: 1.6vw; 
  max-height: 1.6vw;
}
@media only screen and (max-width: 600px) {
  table{
    overflow: scroll;
  }
} 
@media only screen and (max-width: 768px) {
  
} 
@media only screen and (max-width: 992px) {
  .icon-size{
    font-size: 1.5vw;
  }
} 