.mini-container {
    width: calc(100% - 78px);
    left: auto !important;
    right: 0px;
    z-index: 3;
}
.copyright-mimi {
    font-size: clamp(7px, 5vw, 10px);
}
a{
    text-decoration: none;
    color: #081A51;
    font-weight: bold;
}
a:hover{
    color: #0E75BB;
    font-size: 12px;        
}