.global-container {
  position: absolute;
  top: 0;
  right: 2;
  bottom: 5;
  left: 3;
  margin-top: 10vh !important;
}

.card-Question {
  background-color: #fff;
  border: 1px solid rgba(217, 217, 217, 0.5);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

@mixin cross($size: 2px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}


.example-container {
  width: 300px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.wrapper {
  display:inline-block;
}

.two{

margin-left: 500px;
  margin-top: -150px;
}


.long-arrow-right{
display: block;
margin: 30px auto;
width: 25px;
height: 25px;
border-top: 2px solid #000;
border-left: 2px solid #000;
}

.long-arrow-right{
transform: rotate(135deg);
}


.long-arrow-right::after{
content: "";
display: block;
width: 3px;
height: 45px;
background-color: black;
transform: rotate(-45deg) translate(15px, 4px);
left: 0;
top: 10;
}
.btn-{
  gap: 1rem;
}