*{
    font-size: 0.8vw;
}
h1{
    color: #081A51;;
}
.bi-shield-lock{
    color: #3FA8F9;
    font-size: 1.6vw !important;
}
@media only screen and (max-width: 600px) {
    .reset-pass{
        display: none;
    }
    section{
        margin-top: -20% !important;
    }
    .alert-pass{
        height: 1vw;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    .bi-shield-lock{
        display: none;
    }
}