<div class="global-container container-fluid col-md-12">
    <div class="container-fluid card-Question my-4 py-3 overflow-auto">
        <section class="d-flex align-content-center align-items-center">
            <img class="add-icon" src="../../../../assets/icons/icon-plus.png">&nbsp;&nbsp;
            <h4 class="my-2"><b> ADD Study</b></h4>
          </section>
        <form style="font-size:0.8vw ;" class="task-form form-row" #form="ngForm" autocomplete="off">
            <div class="col-sm-7">
                <div class="container-fluid my-4">
                    <label for="title">Study Title:</label>
                    <input type="text" class="form-control" name="title" id="title" #title="ngModel" [(ngModel)]="study.title"
                        oninput="this.value=this.value.toUpperCase()">
                </div>
            </div>

            <p style="font-size: 0.9vw;" class="text-justify text-wrap container-fluid text-format text-muted my-3">
                Select which surveys you'd like to add to your study
            </p>

            <section class="d-flex d-grid flex-row my-4">
                <div class="container-fluid">
                    <label>List Of Surveys</label>
                    
                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="rows" [cdkDropListConnectedTo]="[doneList]"
                        class="example-list" (cdkDropListDropped)="drop($event)">
                        <div style="font-size:0.8vw ;" class="example-box text-bg-light" *ngFor="let item of rows" cdkDrag>
                            {{item.title}}</div>
                    </div>
                </div>
                <i class="bi bi-arrow-left-right text-primary my-5 py-5 fs-5"></i>
                <div class="container-fluid">
                    <label>Your Choice</label> 
                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selected"
                        [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div style="font-size:0.8vw ;" class="example-box text-primary text-opacity-100 text-bg-light"
                            *ngFor="let item of selected" cdkDrag>{{item.title}}</div>
                    </div>
                </div>
            </section>
      
            <section class="d-flex flex-row flex-wrap my-5 justify-content-end btn-">
                <a routerLink="study/list">
                    <button style="font-size:0.8vw ;" class="btn btn-outline-primary px-4 d-flex d-grid flew-row gap-2"
                        (click)="resetFormWithDefaultValues()">
                        <i class="bi bi-x-lg"></i>
                        Cancel
                    </button>
                </a>
                <button style="font-size:0.8vw ;" type="submit" (click)="save(form)"
                    class="btn btn-primary px-5 d-flex flex-row d-grid gap-2">
                    <i class="bi bi-check-lg"></i>
                    Add
                </button>
            </section>
        </form>
    </div>
  </div>