<div class=" container-home  fixed-top col-md-12 ">
  <div id="wrapper">
    <!----------------------------------------------------PlacesNav--------------------------------------------------->
    <div id="PlacesNav">
      <span>
        <a href="">About ePROM</a>
        <a href="">About I-DAIR</a>
        <a href="">Contact us</a>
      </span>
    </div>
    <!----------------------------------------------------slide1--------------------------------------------------->
    <div class="slidee ml-5 pl-5" id="slide1">
      <div class="col-sm-4 main-slide">
        <h1>About e-PROM</h1>
        <article>
          Patient-Reported Outcome Measures (PROMs) assess the disease symptoms, overall health, and Quality of Life
          (QoL) from the patient perspective. In our era of wearable and remote monitoring of physical health, I-DAIR
          envisions assessment methods that would be directly integrated into patient-owned connected devices, with
          the goal to ease monitoring and avoid interference, such as questionnaire fatigue, recall bias, improper
          outcome analyses, cultural variations or language barriers.
        </article>
      </div>
    </div>
    <!----------------------------------------------------slide2--------------------------------------------------->
    <div class="slidee" id="slide2">
      <div class="col-sm-4 main-slide">
        <h1>About I-DAIR</h1>
        <article>
          I-DAIR is a neutral and trusted platform for enabling global research collaborations on digital health and
          Artificial Intelligence for health.
        </article>
      </div>
    </div>
    <!----------------------------------------------------slide3--------------------------------------------------->
    <div class="slidee" id="slide3">
      <div class="col-sm-4 main-slide-form">
        <article>
          <form class="float-start needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-12 col-sm-12">
                <label for="fullName" class="form-label">Full name <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="fullName" placeholder="Full name" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Subject" value="" required>
                <div class="invalid-feedback">
                  The Subject of email is required.
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="eprom@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="col-12">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" placeholder="Message" required></textarea>
              </div>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary" type="submit">
              <i class="bi bi-send"></i>
              Send
            </button>
          </form>
        </article>
      </div>
    </div>
    <!----------------------------------------------------slide3--------------------------------------------------->
    <div class="slidee" id="footer">
      <div class="main-slide-footer">
        <article>
          <img class="float-start my-5" src="../../../assets/img/Extra-EpromLogo.png" alt="EPROM-logo">
          <section class="container-fluid d-flex flex-row flex-wrap justify-content-between col-md-12">
            <div class="d-flex flex-column col-md-3">
              <b>ABOUT</b>
              <p class="text-break text-justify">
                <b>E</b>lectronic <b>P</b>atient <b>R</b>eported <b>O</b>utcome <b>M</b>easures are online
                questionnaires which ask patients to self-rate their health status.These questionnaires can be used to
                measure a wide range of health outcomes, such as quality of life, pain, and functional status.
              </p>
            </div>
            <div class="d-flex flex-column">
              <b>CONTACT US</b>
              <p><i class="bi bi-envelope"></i>&nbsp;contact@i-dair.org</p>
              <p><i class="bi bi-phone"></i>&nbsp;+41 (0) 22 908 45 45</p>
              <p class="text-break text-justify"><i class="bi bi-building-add"></i>&nbsp;Chemin Eugène-Rigot 2A, 1202
                Geneva</p>
              <p><b>Developed and deployed by</b><br>Dqlick company </p>
              <p><i class="bi bi-phone"></i>&nbsp; +216 71 965 425</p>
              <p><i class="bi bi-envelope"></i>&nbsp;contact@dqlick.com</p>
            </div>

            <div class="d-flex flex-column">
              <b>FOLLOW US</b>
              <div class="d-flex flex-row flex-wrap justify-content-between">
                <i class="bi bi-twitter"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-youtube"></i>
              </div>
            </div>
            <div class="support">
              <b>WITH THE SUPPORT OF</b>
              <!-- <div class="d-flex flex-row flex-wrap justify-content-between">
                <img class="img-support" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Wellcome_Trust_logo.svg/800px-Wellcome_Trust_logo.svg.png">
                <img class="img-support" src="https://www.fondationbotnar.org/wp-content/uploads/2019/07/logo.png">
              </div> -->
            </div>
          </section>
          <hr class="my-4">
          <section class="container-fluid d-flex flex-row flex-wrap justify-content-between col-md-12">
            <p class="copyright-mimi">
              All rights reserved. Copyright © 2023
              <a href="https://www.i-dair.org/" target="_blank">I-DAIR</a>
            </p>
            <img src="https://mentalhealth.i-dair.org/assets/images/Idair-logotype-GRM.png" alt="i-dair_logo">
          </section>

        </article>
      </div>
    </div>
  </div>
</div>