
<nav class="py-2 nav-wrapper navbar navbar-expand-md fixed-top justify-content-end d-flex flex-wrap">
    <section class="mx-4 notification" (click)="listNotifications()">
        <i class="bi bi-bell-fill" style="width:15px ;"></i>       
    </section>

    <section class="sl-nav pt-1">
        Language: &nbsp; &nbsp;
        <ul>
            <li><b>English</b> &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="triangle"></div>
                <ul>
                    <li>
                        <i class="sl-flag flag-En">
                        </i> <span class="active">English</span></li>
                    <li>
                        <i class="sl-flag flag-Hi">
                        </i> <span>Hindi</span></li>
                    <li>
                        <i class="sl-flag flag-Ar">
                        </i> <span>عربي</span></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>