<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span>Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
          <span>{{ question.text }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ question.createdBy }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ question.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ question.lastModifiedBy }}</span>
        </dd>
        <dt><span>Last Modified Date</span></dt>
        <dd>
          <span>{{ question.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Is Archived</span></dt>
        <dd>
          <span>{{ question.isArchived }}</span>
        </dd>
        <dt><span>Archived Date</span></dt>
        <dd>
          <span>{{ question.archivedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Language</span></dt>
        <dd>
          <span>{{ question.language }}</span>
        </dd>
        <dt><span>Answer Choice</span></dt>
        <dd>
          <span
            *ngFor="let answerChoice of question.answerChoices; let last = last"
          >
            <a [routerLink]="['/answer-choice', answerChoice?.id, 'view']">{{
              answerChoice.id
            }}</a
            >{{ last ? "" : ", " }}
          </span>
        </dd>
        <dt><span>Type Question</span></dt>
        <dd>
          <div *ngIf="question.typeQuestion">
            <a
              [routerLink]="[
                '/type-question',
                question.typeQuestion?.id,
                'view'
              ]"
              >{{ question.typeQuestion?.id }}</a
            >
          </div>
        </dd>
      </dl>

      <button
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/question', question.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
