<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.connection.title}">JHipster connection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.connection.greeting(${user.login})}">Dear</p>
    <p th:text="#{email.connection.text1}">You are invited to pass a survey, please log in and answer the questions: please click on the URL below to access it:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/#/auth/login|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span th:text="#{email.connection.text2}">Regards, </span>
      <br />
      <em th:text="#{email.connection.signature}">JHipster.</em>
    </p>
  </body>
</html>
